/* CSS reset
    (all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
}


/* General styles
    (the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

section,
footer {
    padding-bottom: 3rem;
}


/* Header styles
    (all the styles inside the < header > or < nav > tags)
*/

header.introduction {
    background-image: url("../image-assets/ArchitectPhotoEdit.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    overflow: auto;
    color: white;
}

header .logo {
    width: 10%;
    float: left;
    margin-top: 1rem;
    margin-left: 1rem;
}

header h1 {
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px #45454B;
    font-size: 3rem;
    margin-top: 14rem;
}

header > .intro-header h2 {
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

#contact-button {
    width: 13rem;
    margin-left: auto;
    margin-right: auto;
    background: #cc3391;
    background-image: -webkit-linear-gradient(top, #cc3391, #b31265);
    background-image: -moz-linear-gradient(top, #cc3391, #b31265);
    background-image: -ms-linear-gradient(top, #cc3391, #b31265);
    background-image: -o-linear-gradient(top, #cc3391, #b31265);
    background-image: linear-gradient(to bottom, #cc3391, #b31265);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    text-decoration: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#contact-button a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 40px 10px 40px;
}

#contact-button a:hover {
    font-weight: 700;
}


/* Content styles
    (all the styles inside the < sections > or < aside > tags)
*/

section.portfolio h2,
section.skills h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 300;
    padding-top: 1.5rem;
}

section .projects {
    margin-bottom: 3rem;
}

section .projects li {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

section.portfolio .projects a {
    text-decoration: none;
    border: 1px solid white;
    display: block;
}

section.portfolio .projects a:hover {
    border: 1px solid red;
}

section.portfolio .projects li img {
    height: 15rem;
    border: 1px solid #d8d8d8;
}

section.skills {
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding-bottom: 3rem;
}

section.skills li {
    margin-left: 2rem;
    margin-right: 2rem;
}

section.skills li i {
    font-size: 8rem;
    color: #225563;
}

section.skills .resume-link {
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #d8d8d8;
    font-size: 1.3rem;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

section.skills .resume-link a {
    text-decoration: none;
}


/* Footer styles
    (all the styles inside the < footer > tag)
*/

footer.social {
    background-color: #d8d8d8;
    width: 100%;
    height: 100%;
}

hr.style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

footer .content .social-text {
    padding-top: 1.5rem;
    font-size: 1.3rem;
}

.social .icons {
    list-style-type: none;
}

.social .icons li {
    display: inline-block;
}

.social .icons img {
    width: 45px;
    text-decoration: none;
    margin: 1rem .2rem;
}

footer .content > p {
    font-size: 1.3rem;
}

footer p a {
    text-decoration: none;
    color: #606060;
    font-weight: 700;
}

footer .credits > p {
    color: #909090;
}


/* Responsive styles
    (the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/
